@import url(../../../global.css);

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 320px;
}

.controls-create,
.controls-update,
.controls-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.controls-btns > .button {
  width: 100%;
}
